# dependencies
node_modules/
**/node_modules/

# env
.env
**/.env
!**/.env.example

# build output
dist/
build/
**/dist/

# logs
*.log
npm-debug.log*

# editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# prisma
backend/prisma/*.db
